@using System.Web.Optimization;
<!DOCTYPE html>
<html class="Html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIAC Único</title>
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon.ico")" />
    @Styles.Render("~/bundles/bootstrap-addon-css")
    @Styles.Render("~/bundles/jquery-addon-css")
    @Styles.Render("~/bundles/site-css")
    @RenderSection("styles", required: false)
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="bodyNotScroll">
    <div id="navbar-contenedor" class="">
        <div id="main-header">
            <div class="header claro-red">
                <div class="header-system">
                    <img class="header-system-logo" src="~/Images/logo-claro.png" alt="Claro">
                    <div class="input-group input-group-sm">
                        <p class="system-name-short">SIAC ÚNICO</p>
                        <span class="system-name-long">Sistema Integrado de Atención a Clientes</span>
                    </div>
                </div>
                <div class="header-profile">
                    <div class="header-profile-user dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            <span id="idUserName"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="idulListPerfiles"></ul>
                    </div>
                    <div class="header-profile-server">
                        <span class="glyphicon glyphicon-tasks"></span>
                        <span class="fa fa-server" id="nroNodo"></span>
                    </div>
                </div>
                <div id="idSession" class="header-session">

                </div>
                <div class="header-search">
                    <div class="navbar-form">
                        <div class="input-group input-group-sm">
                            <span class="input-group-btn">
                                <button id="btnCriteria" type="button" class="btn" title="Administración" style="width:210px;"></button>
                            </span>
                            <div id="div-button-search" class="input-group-btn">
                                <div class="dropdown form-group-sm">
                                    <button id="btnSearch" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                        Buscar
                                        <span class="caret"></span>
                                    </button>
                                    <input type="hidden" id="ddlTipoBusqueda" />
                                    <ul id="ul-button-Search" class="dropdown-menu"></ul>
                                </div>
                            </div>
                            <input id="txtCriteriaValue" type="text" class="form-control" />
                            <span class="input-group-btn">
                                <button id="btnCriteriaSearch" class="btn btn-primary" title="Buscar"> <span class="glyphicon glyphicon-search"></span> </button>
                                <button id="btnClean" type="button" class="btn btn-default" title="Limpiar Búsqueda">
                                    <span class="glyphicon glyphicon-erase"></span>
                                </button>
                                <button id="btnResult" type="button" class="btn btn-default" title="Resultados de Búsqueda">
                                    <span class="glyphicon glyphicon-align-justify"></span>
                                </button>
                                <button id="btnInstant" type="button" class="btn btn-default" title="Instantaneas">
                                    <span class="glyphicon glyphicon-bell"></span>
                                </button>
                                <span id="spidnotify" class="badge badge-notify"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div style="clear: both; display:block;"></div>

            </div>
            <div id="idmMenu">
            </div>
        </div>
        <div id="navbar-body" class="scroll-content">
            @RenderBody()
        </div>

        <div id="main-footer" class="footer">
            <div id="idmToolbar" class="footer-toolBar">
            </div>

            <div class="footer-sidebar">
                @*<div class="footer-sidebar-mintray">
                    <ul id="uiBarra"></ul>
                </div>*@

                <div class="footer-sidebar-clock" id="uiClock">
                </div>
            </div>
        </div>


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-addon")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/ContactoGrilla")
    @Scripts.Render("~/bundles/moment-js")
    @Scripts.Render("~/bundles/Claro")
    <script>
        $(document).ready(function () {
            $.app.setApplicationUrl('@(Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/")');
        });
    </script>
    @Scripts.Render("~/bundles/ClaroLayout")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
            
            //PROY-140073 Coliving - Mostrar Ventana de Busqueda de Cliente
            strOnFlag =@Claro.Constants.NumberOneString +""
            strFlagKey = getValueConfig(['strFlagConvivenciaColiving']).strFlagConvivenciaColiving;
            console.log("strOnFlag: " + strOnFlag + "| strFlagKey: " + strFlagKey);

            if (strFlagKey == strOnFlag) {
            var ValidateCustomerData = setInterval(function (result) {
                var existContainError = $("#divContenido");
                var divContainerError = $("#ContainerError").length;
                var existMenu = $('#cssmenu').length;
                if ($.trim(existContainError.html()) != "" && existContainError != null && existContainError != undefined) {
                    clearInterval(ValidateCustomerData);
                }
                else if ($.trim(existContainError.html()) == "" && existMenu > 0) {
                    $("#divSearchType").load("/Coliving/SearchCustomer/SIACU_Type_Search_Customer");
                    clearInterval(ValidateCustomerData);
                }
                else {
                    if (divContainerError > 0) {
                        clearInterval(ValidateCustomerData);
                    }
                    console.log("Validando Datos");
                }
            }, 100);
            }
            //Fin Coliving
        });
    </script>
</body>
</html>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")