@using System.Web.Optimization;
@model Claro.SIACU.Web.WebApplication.Areas.Dashboard.Models.PostpaidDataAccount.AccountSharedBagModel
<div id="validateListSharedBag" class="hidden">@Model.isData</div>
<div id="modal-content">
    <div class="row">
        <div class="col-md-12">

            <table class="table table-condensed">
                <tr>
                    <td class="col-md-12">
                        <div class="col-md-1">
                            <label class="control-label">Cuenta</label>
                        </div>
                        <div class="col-md-3" id="divAccount">@Model.Account</div>
                        <div class="col-md-1">
                            <label class="control-label">Teléfono</label>
                        </div>
                        <div class="col-md-3" id="divTelephone">@Model.Line</div>
                        <div class="col-md-4"></div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    @if (Model.lstSharedBag != null)
    {
        <div class="panel panel-info ">
            <div class="panel-heading claro-modal-contenido-titulo-panel">
                <h4 class="panel-title claro-modal-contenido-titulo-texto">
                    <a data-toggle="collapse" href="#DatosBcollapse"> Datos de Bolsa</a>
                </h4>

            </div>
            <div id="DatosBcollapse" class="panel-collapse collapse in table-responsive">
                <table class="table  table-striped table-hover table-responsive claro-modal-tabla">
                    <thead class="claro-bg-primary">
                        <tr>
                            <th class="col-sm-1">Bolsa</th>
                            <th class="col-sm-2">Costo del Paq. Contrato (con IGV)</th>
                            <th class="col-sm-2">F. Activación</th>
                            <th class="col-sm-1">Unidad</th>
                            <th class="col-sm-1">Tope</th>
                            <th class="col-sm-2">Consumo</th>
                            <th class="col-sm-1">Saldo</th>
                            <th class="col-sm-2">F. Vigencia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.lstSharedBag != null)
                        {
                            foreach (var item in Model.lstSharedBag)
                            {
                                <tr>
                                    <td class="col-sm-1">@item.Bag</td>
                                    <td class="col-sm-2">@item.Optional1</td>
                                    <td class="col-sm-1">@item.Optional2</td>
                                    <td class="col-sm-1">@item.Unit</td>
                                    <td class="col-sm-1">@item.Stopper</td>
                                    <td class="col-sm-1">@item.Consumption</td>
                                    <td class="col-sm-2">@item.Balance</td>
                                    <td class="col-sm-2">@item.DateValidity</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-info ">
            <div class="panel-heading claro-modal-contenido-titulo-panel">
                <h4 class="panel-title  claro-modal-contenido-titulo-texto">
                    <a data-toggle="collapse" href="#DatosLcollapse"> Datos de las Líneas</a>
                </h4>

            </div>
            <div id="DatosLcollapse" class="panel-collapse collapse in table-responsive">
                <table class="table  table-striped table-hover table-responsive claro-modal-tabla">
                    <thead class="claro-bg-primary">
                        <tr>
                            <th class="col-sm-2">L&#237;nea</th>
                            <th class="col-sm-2">Bolsa</th>
                            <th class="col-sm-1">Unidad</th>
                            <th class="col-sm-1">Tope</th>
                            <th class="col-sm-2">Consumo</th>
                            <th class="col-sm-1">Saldo</th>
                            <th class="col-sm-2">F. Vigencia</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.lstSharedBagLine != null)
                        {
                            foreach (var item in Model.lstSharedBag)
                            {
                                <tr>
                                    <td class="col-sm-1">@item.Line</td>
                                    <td class="col-sm-2">@item.Bag</td>
                                    <td class="col-sm-1">@item.Unit</td>
                                    <td class="col-sm-1">@item.Stopper</td>
                                    <td class="col-sm-1">@item.Consumption</td>
                                    <td class="col-sm-2">@item.Balance</td>
                                    <td class="col-sm-2">@item.DateValidity</td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger">@Model.Error</div>

    }
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/Dashboard/PostpaidDataAccount/PostpaidAccountSharedBag")

