@using System.Web.Optimization;

<div id="PostpaidStatusAccountHR">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed ">

                <tr>
                    <td class="col-md-12">
                        <div class="col-md-3">
                            <label class="control-label">Código Cliente</label> @Model.ClientId
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Nombre/Razón Social</label> @Model.NameClient
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Teléfono</label> @Model.NumberServices
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-12"></td>
                </tr>
            </table>
        </div>

        <div class="table">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table  table-hover claro-modal-tabla table-bordered" id="tblStatusAccountHR">
                            <thead class="claro-bg-primary">
                                <tr>
                                    <th class="col-sm-1">Nro</th>
                                    <th class="col-sm-1">Detalle</th>
                                    <th class="col-sm-1">Documento</th>
                                    <th class="col-sm-1">Factura Asociada</th>
                                    <th class="col-sm-1">Descripción Pago</th>
                                    <th class="col-sm-1">Fec Registro</th>
                                    <th class="col-sm-1">Fec Emisión</th>
                                    <th class="col-sm-1">Fec Venc</th>
                                    <th class="col-sm-1">Cargo</th>
                                    <th class="col-sm-1">Abono</th>
                                    <th class="col-sm-1">Importe Pendiente</th>
                                    <th class="col-sm-1">Saldo</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.listStatusAccountModel != null)
                                    {
                                        var num = 0;
                                        foreach (var item in Model.listStatusAccountModel)
                                        {
                                            num += 1;
                                            <tr>
                                                <td>@num</td>
                                                <td>@item.Type</td>
                                                <td>@item.Document </td>
                                                <td>@item.InvoiceAssociated</td>
                                                <td>@item.DescriptionPaid</td>
                                                <td>@item.DateRegister</td>
                                                <td>@item.DateIssue</td>
                                                <td>@item.DateDue</td>
                                                <td>@item.Charge</td>
                                                <td>@item.Payment</td>
                                                <td>@item.ImportPending</td>
                                                <td>@item.Balance</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/Dashboard/PostpaidDataCollection/StatusAccountHR")