@using System.Web.Optimization;
@model Claro.SIACU.Web.WebApplication.Areas.Dashboard.Models.PostpaidDataCustomer.CustomerHistorySegmentModel

<div id="modal-content">
    <div id="PospaidCustomerSegment">


        <div class="panel panel-default">

            <div class="table-responsive ">

                <table id="tbPost_Segmento" class="table table-striped table-hover  table-responsive claro-modal-tabla">

                    <thead class="claro-bg-primary">
                        <tr>
                            <th>&#218;ltima Actualizaci&#243;n</th>
                            <th>Documento de Identidad</th>
                            <th>Segmento</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.lstCustomerHistorySegment)
                    {
                            <tr>
                                <td>@item.LastUpdate</td>
                                <td>@item.DocumentNumber</td>
                                <td>@item.Segment</td>
                            </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/Dashboard/PostpaidDataCustomer/CustomerSegment")





