@using System.Web.Optimization;
<style>
    .control-label {
        margin-top: 5px !important;
    }

    table > tbody > tr > td {
        vertical-align: middle !important;
    }

    .modal {
        padding-right: 0px !important;
    }

        .modal.in.ui-draggable {
            top: 50% !important;
            transform: translate(-51%, -50%);
        }
</style>
<div id="modal-content">
    <div id="modalDetailProductClient">
        <div class="row" hidden>
            <input type="hidden" id="txtHdNameLinkWebSpecial" value="@ViewBag.nameLinkWs" />
            <input type="hidden" id="txtHdUrlWebSpecial" value="@ViewBag.urlWs" />
            <input type="hidden" id="txtHdNameLinkPostVenta" value="@ViewBag.nameLinkPv" />
            <input type="hidden" id="txtHdUrlPostVenta" value="@ViewBag.urlPv" />
            <input type="hidden" id="txtHdstrPrepagoOlo" value="@ViewBag.strPrepagoOlo" />
            <input type="hidden" id="txtHdNumberAccount" />
            <input type="hidden" id="txtHdMigrateOne" />
            <input type="hidden" id="txtHdTypeDocId" />
            <input type="hidden" id="txtHdDocNumber" />
            <input type="text" id="txtHdAccountType" />
        </div>
        <div class="row" style="text-transform:uppercase">
            <div id="modalDetailProductClient2">

                <table class="table table-responsive claro-modal-tabla">
                    <tr>
                        <td class="col-xs-1">
                            <label class="control-label">TIPO DOC.ID: </label>
                        </td>
                        <td class="col-xs-3"><span id="lblTypeDocDescription"></span></td>
                        <td class="col-xs-1">
                            <label class="control-label">NRO DOC.ID: </label>
                        </td>
                        <td class="col-xs-2">
                            <span id="lblNumeroDocumento"></span>
                        </td>
                        <td class="col-xs-2">
                            <label class="control-label tdAccountNumberElement">NRO CUENTA: </label>
                        </td>
                        <td class="col-xs-2">
                            <span id="lblNumeroCuenta" class="tdAccountNumberElement"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">NOMBRES: </label>
                        </td>
                        <td colspan="3"><span id="lblNombres"></span></td>
                        <td>
                            <label class="control-label">@ViewBag.migradoOne: </label>
                        </td>
                        <td><span id="lblMigradoOne"></span></td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">DIRECCIÓN: </label>
                        </td>
                        <td colspan="3"><span id="lblDireccion"></span></td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label">NRO.LÍNEA: </label>
                        </td>
                        <td>
                            <span id="lblLineNumber"></span>
                        </td>
                        <td>
                            <label class="control-label">MODALIDAD: </label>
                        </td>
                        <td>
                            <span id="lblModality"></span>
                        </td>
                        <td id="_tdLblTypeAccount">
                            <label class="control-label tdAccountTypeElement">TIPO CUENTA: </label>
                        </td>
                        <td id="tdLblTypeAccount">
                            <span id="lblTypeAccount" class="tdAccountTypeElement"></span>
                        </td>
                    </tr>
                    <tr id="trRow5">
                        <td>
                            <label class="control-label tdRatePlanElement">PLAN TARIFARIO: </label>
                        </td>
                        <td><span id="lblPlanTarifario" class="tdRatePlanElement"></span></td>
                        <td id="_tdStatus">
                            <label class="control-label">ESTADO: </label>
                        </td>
                        <td id="tdStatus"><span id="lblEstado"></span></td>
                        <td colspan="2"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 size-xs">
                <div class="panel panel-default col-xs-12" style="text-align: center; padding-top: 1%; padding-bottom: 1%; padding-right: 0px; padding-left: 0px; margin-bottom: 0px !important;">

                    <div class="col-sm-4 col-xs-4">
                        <button style="width:100%" class="btn claro-btn-info btn-sm btn-link" id="btnSale" type="button" data-toggle="modal">Venta</button>
                    </div>

                    <div class="col-sm-4 col-xs-4">
                        <button style="width: 100%" class="btn claro-btn-info btn-sm btn-link" id="btnPostSale" type="button" data-toggle="modal">@ViewBag.nameLinkPv</button>
                    </div>

                    <div hidden class="col-sm-3 col-xs-6">
                        <button style="width: 100%" class="btn claro-btn-info btn-sm btn-link" id="btnSpecialCases" type="button" data-toggle="modal">@ViewBag.nameLinkWs</button>
                    </div>

                    <div class="col-sm-4 col-xs-4">
                        <button style="width: 100%" class="btn claro-btn-info btn-sm btn-link" id="btnClose" type="button" data-toggle="modal">Salir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")
@Scripts.Render("~/bundles/Coliving/SearchCustomer/SIACU_BusquedaClienteLinea")

